*{
  box-sizing: border-box;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  
}

footer{
  height: 300px;
  width: 1200px;
  overflow: hidden;
}

h3, h4{
 text-decoration: none;
 padding: 5px;
}
/*aca le hago que se muestren en columnas los ul*/
ul {
  display: inline-block; /* Muestra los elementos ul en línea */
  vertical-align: top; /* Alinea los elementos superiormente */
  box-sizing: border-box; /* Incluye el padding en el ancho total*/
  width: 380px;  
}

.social-icons li {
  display: inline-block; /* Muestra los elementos li en línea */
  margin-right: 10px; /* Agrega un margen derecho entre los elementos */
}



.columna4{
  padding: 10px 40px;
  float: right;
}

/* .social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#ec8872
} */

/* .social-icons a,.a:active{
  background-color:#eceeef;
  color:#7eb9e7;
  font-size:16px;
  display:inline-block;
  line-height:34px;
  width:34px;
  height:34px;
  text-align:center;
  margin-right:10px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
} */







