

:root{
    /* --color_fondo_formulario: transparent;  */
    --color_fondo_formulario: rgba(82, 78, 78, 0.9);
    --color_borde_formulario: rgba(26, 24, 24, 0.7);
    --color_fondo_inputs: transparent;
     /* rgba(241, 221, 221, 0.6); */
    --color_borde_botones: transparent;
     /* rgba(26, 24, 24, 0.7); */
    --radio_borde_botones: 10px;
    --grosor_borde_botones: 1px;
    --color_transparente: transparent;
}

#body {
    width: 100%;
}

header{
    display: block;
    background-color: var(--color_transparente);
    width: 100%;
    background-color: #151e3f;
   
    
}

header h1{
    text-decoration: underline black;
    background-color: aqua;
    width: 30%;
   text-align: center;
  

}



.Lista_Nav{
    display: flex;
    justify-content: space-between;
}

.bottons_nav{
    position: relative;
    background: #fff;
    background-color:#060811;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 15px;
    transition: 0.5s;
    height: 40px;
    
}
a:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
}
.Input_NavBar{
    background-color: red;
    width: 30%;
    transform: translate(120%, -180%);
   
}