:root{
    /* --color_fondo_formulario: transparent;  */
    --color_fondo_formulario: rgba(82, 78, 78, 0.9);
    --color_borde_formulario: rgba(26, 24, 24, 0.7);
    --color_fondo_inputs: transparent;
     /* rgba(241, 221, 221, 0.6); */
    --color_borde_botones: transparent;
     /* rgba(26, 24, 24, 0.7); */
    --radio_borde_botones: 10px;
    --grosor_borde_botones: 1px;
    --color_transparente: transparent;
}


#body {
    width: 100%;
}

