* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.tienda_grupo_12>* {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

.tienda_grupo_12 {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "cabecera"
        "navbar"
        "filtros"
        "productos"
        "footer";

}

.cabecera {
    grid-area: cabecera;
    background-color: aqua;
    background-color: transparent;
}

.navbar {
    grid-area: navbar;
    background-color: brown;
    background-color: transparent;   
}

.filtros {
    grid-area: filtros;
    background-color: chartreuse;
    background-color: transparent;
}

.productos {
    grid-area: productos;
    background-color: coral;
    background-color: transparent;
}

.footer {
    grid-area: footer;
    background-color: rgb(26, 128, 0);
    background-color: transparent;
}


.cabecera >* {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}


.cabecera {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "img_cabecera"
        "cuadro_busqueda"
        "nombre_usuario"
        "carrito_compras";

}

.img_cabecera{
    grid-area: img_cabecera;
    background-color: green;

}
.cuadro_busqueda{
    grid-area: cuadro_busqueda;
    background-color: yellow;
}

.nombre_usuario{
    grid-area: nombre_usuario;
    background-color: chocolate;
}

.carrito_compras{
    grid-area: carrito_compras;
    background-color: oldlace
}





.productos >* {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    text-align: center;

}

.productos {
    display: grid;
    gap: 2px;
    grid-template-areas:
        "prenda_1" 
        "prenda_2"
        "prenda_3"
        "prenda_4"
        "prenda_5"
        "prenda_6";
}

.prenda_1 {
    grid-area: prenda_1;
    background-color: aqua;
    background-color: transparent;
}


.prenda_2 {
    grid-area: prenda_2;
    background-color: aqua;
    background-color: transparent;
}

.prenda_3 {
    grid-area: prenda_3;
    background-color: aqua;
    background-color: transparent;
}

.prenda_4 {
    grid-area: prenda_4;
    background-color: aqua;
    background-color: transparent;
}

.prenda_5 {
    grid-area: prenda_5;
    background-color: aqua;
    background-color: transparent;
}

.prenda_6 {
    grid-area: prenda_6;
    background-color: aqua;
    background-color: transparent;
}



@media only screen and (max-width: 576px) {
    .tienda_grupo_12 {
        display: grid;
        gap: 1px;
        grid-template:
            "cabecera   "30px 
            "navbar     "20px 
            "filtros    "10px 
            "productos  "auto 
            "footer     "30px;
    }

    .productos {
        display: grid;
        gap: 1px;
        grid-template:
            "prenda_1"
            "prenda_2"
            "prenda_3"
            "prenda_4"
            "prenda_5"
            "prenda_6"
            auto;
    }
}

@media only screen and (min-width: 577px) {
    .tienda_grupo_12 {
        display: grid;
        gap: 1px;
        grid-template:
        "cabecera cabecera  "40px 
        "navbar   navbar    "30px 
        "filtros  productos "auto
        "footer   footer    "60px / 
        180px     auto;

    }
    .cabecera{
        display: grid;
        gap: 2px;
        grid-template:
        "img_cabecera cuadro_busqueda nombre_usuario carrito_compras" auto /
        15%           auto            15%           10%;
 


    }

    .productos {
        display: grid;
        gap: 2px;
        grid-template:
        "prenda_1 prenda_2 prenda_3"auto 
        "prenda_4 prenda_5 prenda_6"auto / 
        auto      auto     auto;

    }
}