:root{
        /* --color_fondo_formulario: transparent;  */
        --color_fondo_formulario: rgba(82, 78, 78, 0.9);
        --color_borde_formulario: rgba(26, 24, 24, 0.7);
        --color_fondo_inputs: transparent;
        /* rgba(241, 221, 221, 0.6); */
        --color_borde_botones: #e8e8e8;    
        --radio_borde_botones: 10px;
        --grosor_borde_botones: 1px;
        --color_transparente: transparent;
        --color_fondo_produccion: rgba(245, 245, 220, 1);
        --color_fondo_botones: rgba(197, 197, 145,1);
        --color_borde_productos: #e0e0e0;
        --color_fondo_productos: whitesmoke;
}
* {
    margin: 0;/*margen en 0*/
    padding: 0;/*padding en 0*/
    box-sizing: border-box;/*para que no se vea el borde*/
    text-decoration: none;/*para que no se vea el texto*/
    font-family: 'Roboto', sans-serif;/*fuente*/
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    /*background-image: url(../img/istockphoto-1474251557-612x612.jpg);/*imagen de fondo*/
    background-size: cover;/*la imagen de fonndo abarca todo/
    background-repeat: no-repeat;/*no se repita la imagen de fondo*/
    background-attachment: fixed;/*para que se vea la imagen de fondo sea adj*/
    background-position: center;/*imagen de fondo centrada*/
    padding: 0px 0px 0px 0px;
    height: 800px;

}

.tienda_grupo_12 > * {
    border: 1px solid transparent;
    border-radius: 1px;
    padding: 0px;
    text-align: center;
}

.tienda_grupo_12 {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "cabecera"
        "noticias"
        "filtros"
        "productos"
        "footer";
}

.cabecera {
    grid-area: cabecera;
    /*background-color: aqua;*/
    background-color: var(--color_fondo_produccion);

}

.noticias {
    grid-area: noticias;
    /*background-color: chartreuse;*/
    background-color: var(--color_fondo_produccion);

}

.filtros {
    grid-area: filtros;
    /*background-color: chartreuse;*/
    background-color: var(--color_fondo_produccion);
}

.productos {
    grid-area: productos;
    /*background-color: coral;*/
    background-color: var(--color_fondo_produccion);

}

.footer {
    grid-area: footer;
    /*background-color: rgb(26, 128, 0);*/
    background-color: var(--color_fondo_produccion);

}

.cabecera>* {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.cabecera {
    display: grid;
    gap: 0px;
    grid-template-areas:
        "img_cabecera"
        "cuadro_busqueda"
        "nombre_usuario"
        "carrito_compras"
        "navbar";
}

.img_cabecera {
    grid-area: img_cabecera;
    /* background-color: green; */
}

.cuadro_busqueda {
    grid-area: cuadro_busqueda;
    /* background-color: yellow; */
    background-color: var(--color_fondo_produccion);
}

.nombre_usuario {
    grid-area: nombre_usuario;
    /* background-color: chocolate; */
    background-color: var(--color_fondo_produccion);
}

.carrito_compras {
    grid-area: carrito_compras;
    /* background-color: red; */
    background-color: var(--color_fondo_produccion);
}

.navbar {
    grid-area: navbar;
    /* background-color: brown; */
    background-color: transparent;
    padding: 0px 0px 0px 0px;
}

.nav_menu {
    display: inline-flex;
    text-decoration: none;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.contenedor_botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 2px 0px 0px 0px;
    line-height: 40px;
}

.boton_nav {
    width: 98%;
    height: 35px;
    background-color: rgba(142, 206, 142, 0.5);
    background-color: var(--color_fondo_botones);
    /* background-color: red; */
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    list-style: none;
}


.boton_nav:hover{
    transform: scale(1.01);
    opacity: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), /* Sombra externa suave */
    -2px -2px 5px rgba(255, 255, 255, 0.8); /* Sombra clara para dar efecto de luz */
    transition: all 0.1s ease;
    cursor: pointer;
}


.noticias>* {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.noticias {
    display: grid;
    /* gap: 10px; */
    padding: 10px;
    justify-content: space-evenly;
    grid-template-areas:
        "noticia_1"
        "noticia_2"
        "noticia_3";
}

.noticia_1 {
    grid-area: noticia_1;
    background-color: crimson;
    background-color: var(--color_fondo_produccion);
}

.noticia_2 {
    grid-area: noticia_2;
    /* background-color: yellow; */
    background-color: var(--color_fondo_produccion);
}

.noticia_3 {
    grid-area: noticia_3;
    /* background-color: orange; */
    background-color: var(--color_fondo_produccion);
}


.filtros>* {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0px;
}

.filtros {
    display: grid;
    padding: 25px 0px 10px 0px;
    text-align: center;
    grid-template-areas:
        "filtro_1"
        "filtro_2"
        "filtro_3"
        "filtro_4"
        "filtro_5"
        "filtro_6";
}

.filtro_1 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_1;
    /* background-color: orange; */
}

.filtro_2 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_2;
    /* background-color: rgba(187, 23, 113, 0.979); */
}

.filtro_3 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_3;
    /* background-color: rgba(107, 107, 134, 0.719); */
}

.filtro_4 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_4;
    /* background-color: darkkhaki */
}

.filtro_5 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_5;
    /* background-color: pink; */
}

.filtro_6 {
    width: 80%;
    margin-left: 10%;
    grid-area: filtro_6;
    /* background-color: rgba(187, 23, 113, 0.979) */
}

.productos>* {
    border: 1px solid var(--color_borde_productos);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.productos {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "prenda_1"
        "prenda_2"
        "prenda_3"
        "prenda_4"
        "prenda_5"
        "prenda_6";
}

.prenda_1 {
    grid-area: prenda_1;
    margin-top: 5%;
    /* background-color: crimson; */
    background-color: var(--color_fondo_produccion);
}

.prenda_2 {
    grid-area: prenda_2;
    margin-top: 5%;
    /* background-color: aqua; */
    background-color: var(--color_fondo_produccion);
}

.prenda_3 {
    grid-area: prenda_3;
    margin-top: 5%;
    /* background-color: aqua; */
    background-color: var(--color_fondo_produccion);
}

.prenda_4 {
    grid-area: prenda_4;
    /* background-color: aqua; */
    background-color: var(--color_fondo_produccion);
}

.prenda_5 {
    grid-area: prenda_5;
    /* background-color: aqua; */
    background-color: var(--color_fondo_produccion);
}

.prenda_6 {
    grid-area: prenda_6;
    /* background-color: aqua; */
    background-color: var(--color_fondo_produccion);
}

.prenda_1>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
}

.prenda_1 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_1"
        "tipo_descripcion_1"
        "tipo_precio_1"
        "tipo_boton_comprar_1"
        "tipo_boton_favorito_1";
}

.tipo_prenda_1 {
    grid-area: tipo_prenda_1;
    /* background-color: blueviolet; */
}

.tipo_descripcion_1 {
    grid-area: tipo_descripcion_1;
    /* background-color: darksalmon; */
}

.tipo_precio_1 {
    grid-area: tipo_precio_1;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_1 {
    grid-area: tipo_boton_comprar_1;
    /* background-color: gold; */
}

.tipo_boton_favorito_1 {
    grid-area: tipo_boton_favorito_1;
    background-color: transparent;
}

.prenda_2>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.prenda_2 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_2"
        "tipo_descripcion_2"
        "tipo_precio_2"
        "tipo_boton_comprar_2"
        "tipo_boton_favorito_2";
}

.tipo_prenda_2 {
    grid-area: tipo_prenda_2;
    /* background-color: blueviolet; */
}

.tipo_descripcion_2 {
    grid-area: tipo_descripcion_2;
    /* background-color: darksalmon; */
}

.tipo_precio_2 {
    grid-area: tipo_precio_2;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_2 {
    grid-area: tipo_boton_comprar_2;
    /* background-color: gold; */
}

.tipo_boton_favorito_2 {
    grid-area: tipo_boton_favorito_2;
    /* background-color: tomato; */
}

.prenda_3>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.prenda_3 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_3"
        "tipo_descripcion_3"
        "tipo_precio_3"
        "tipo_boton_comprar_3"
        "tipo_boton_favorito_3";
}

.tipo_prenda_3 {
    grid-area: tipo_prenda_3;
    /* background-color: blueviolet; */
}

.tipo_descripcion_3 {
    grid-area: tipo_descripcion_3;
    /* background-color: darksalmon; */
}

.tipo_precio_3 {
    grid-area: tipo_precio_3;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_3 {
    grid-area: tipo_boton_comprar_3;
    /* background-color: gold; */
}

.tipo_boton_favorito_3 {
    grid-area: tipo_boton_favorito_3;
    /* background-color: tomato; */
}

.prenda_4>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.prenda_4 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_4"
        "tipo_descripcion_4"
        "tipo_precio_4"
        "tipo_boton_comprar_4"
        "tipo_boton_favorito_4";
}

.tipo_prenda_4 {
    grid-area: tipo_prenda_4;
    /* background-color: blueviolet; */
}

.tipo_descripcion_4 {
    grid-area: tipo_descripcion_4;
    /* background-color: darksalmon; */
}

.tipo_precio_4 {
    grid-area: tipo_precio_4;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_4 {
    grid-area: tipo_boton_comprar_4;
    /* background-color: gold; */
}

.tipo_boton_favorito_4 {
    grid-area: tipo_boton_favorito_4;
    /* background-color: tomato; */
}

.prenda_5>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.prenda_5 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_5"
        "tipo_descripcion_5"
        "tipo_precio_5"
        "tipo_boton_comprar_5"
        "tipo_boton_favorito_5";
}

.tipo_prenda_5 {
    grid-area: tipo_prenda_5;
    /* background-color: blueviolet; */
}

.tipo_descripcion_5 {
    grid-area: tipo_descripcion_5;
    /* background-color: darksalmon; */
}

.tipo_precio_5 {
    grid-area: tipo_precio_5;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_5 {
    grid-area: tipo_boton_comprar_5;
    /* background-color: gold; */
}

.tipo_boton_favorito_5 {
    grid-area: tipo_boton_favorito_5;
    /* background-color: tomato; */
}

.prenda_6>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.prenda_6 {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "tipo_prenda_6"
        "tipo_descripcion_6"
        "tipo_precio_6"
        "tipo_boton_comprar_6"
        "tipo_boton_favorito_6";
}

.tipo_prenda_6 {
    grid-area: tipo_prenda_6;
    /* background-color: blueviolet; */
}

.tipo_descripcion_6 {
    grid-area: tipo_descripcion_6;
    /* background-color: darksalmon; */
}

.tipo_precio_6 {
    grid-area: tipo_precio_6;
    /* background-color: darkolivegreen; */
}

.tipo_boton_comprar_6 {
    grid-area: tipo_boton_comprar_6;
    /* background-color: gold; */
}

.tipo_boton_favorito_6 {
    grid-area: tipo_boton_favorito_6;
    /* background-color: tomato; */
}

.footer>* {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}
.footer {
    display: grid;
    gap: 1px;
    grid-template-areas:
        "contacto"
        "acerca_de"
        "preguntas_frecuentes"
        "terminos_condiciones"
        "copyright";
}
.contacto{
    grid-area: contacto;
    background-color: var(--color_fondo_produccion);
}
.acerca_de{
    grid-area: acerca_de;
    background-color: gold;
}

.preguntas_frecuentes{
    grid-area: preguntas_frecuentes;
    background-color: gold;
}

.terminos_condiciones{
    grid-area: terminos_condiciones;
    background-color: gold;

}

.copyright{
    grid-area: copyright;
    /* background-color: gold; */
    background-color: var(--color_fondo_produccion);

}


.titulo_contacto > * {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.titulo_contacto {
    display: grid;
    background-color: brown;
    gap: 1px;
    grid-template-areas:
    "titulo_contacto";
}
.titulo_contacto{
    grid-area: titulo_contacto;
    background-color: red;
}

.contacto > * {
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px;
    text-align: center;
}

.contacto {
    display: grid;
    background-color: pink;
    gap: 1px;
    grid-template-areas:
    "red_titulo"
    "red_facebook"
    "red_linkedin"
    "red_instagram"
    "red_youtube"
    "red_whtasApp";
}

.red_titulo{
    grid-area: red_titulo;
    background-color: red;
}
.red_facebook{
    grid-area: red_facebook;
}

.red_linkedin{
    grid-area: red_linkedin;
}

.red_instagram{
    grid-area: red_instagram;
}

.red_youtube{
    grid-area: red_youtube;
}
.red_whtasApp{
    grid-area: red_whtasApp
}

.facebook{
    background-color: green;
}
.instagram{
    background-color: green;
}
.whatsapp{
    background-color: green;
}
.linkedin{
    background-color: green;
}
.titulo{
    background-color: green;
}
.youtube{
    background-color: green;
}

@media only screen and (max-width: 576px) {
    .tienda_grupo_12 {
        display: grid;
        gap: 1px;
        grid-template:
            "cabecera   "80px 
            "navbar     "20px 
            "filtros    "10px 
            "productos  "auto 
            "footer     "30px;
    }

    .productos {
        display: grid;
        gap: 1px;
        grid-template:
            "prenda_1"
            "prenda_2"
            "prenda_3"
            "prenda_4"
            "prenda_5"
            "prenda_6"
            auto;
    }
}

@media only screen and (min-width: 577px) {
    .tienda_grupo_12 {
        display: grid;
        gap: 1px;
        grid-template:
            "cabecera   cabecera  "90px 
            "noticias   noticias  "140px 
            "filtros    productos "800px 
            "footer     footer    "350px / 
            200px       auto;
    }

    .cabecera {
        display: grid;
        gap: 2px;
        grid-template:
            "img_cabecera   cuadro_busqueda nombre_usuario  carrito_compras"45px 
            "img_cabecera   navbar          navbar          carrito_compras"40px / 
            20%             auto            20%             8%;
    }

    .noticias {
        display: grid;
        gap: 50px;
        justify-content: center;
        grid-template:
            "noticia_1  noticia_2   noticia_3"100% / 
            20%         20%         20%;
    }

    .filtros {
        display: grid;
        gap: 20px;
        grid-template:
            "filtro_1"85px 
            "filtro_2"85px 
            "filtro_3"85px 
            "filtro_4"85px 
            "filtro_5"85px 
            "filtro_6"85px / 
            100%;
    }
    .productos {
        display: grid;
        gap: 20px;
        justify-content: space-evenly;
        grid-template:
            "prenda_1   prenda_2    prenda_3"380px 
            "prenda_4   prenda_5    prenda_6"380px / 
            26%         26%         26%;
    }
    .prenda_1 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_1          tipo_prenda_1        "230px 
            "tipo_descripcion_1     tipo_descripcion_1   "40px 
            "tipo_precio_1          tipo_precio_1        "auto 
            "tipo_boton_comprar_1   tipo_boton_favorito_1"auto / 
            auto                    66px;
    }
    .prenda_2 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_2          tipo_prenda_2        "230px 
            "tipo_descripcion_2     tipo_descripcion_2   "40px 
            "tipo_precio_2          tipo_precio_2        "auto 
            "tipo_boton_comprar_2   tipo_boton_favorito_2"auto / 
            auto                    66px;
    }
    .prenda_3 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_3          tipo_prenda_3        "230px 
            "tipo_descripcion_3     tipo_descripcion_3   "40px 
            "tipo_precio_3          tipo_precio_3        "auto 
            "tipo_boton_comprar_3   tipo_boton_favorito_3"auto / 
            auto                    66px;
    }
    .prenda_4 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_4          tipo_prenda_4        "230px 
            "tipo_descripcion_4     tipo_descripcion_4   "40px 
            "tipo_precio_4          tipo_precio_4        "auto 
            "tipo_boton_comprar_4   tipo_boton_favorito_4"auto / 
            auto                    66px;
    }
    .prenda_5 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_5          tipo_prenda_5        "230px 
            "tipo_descripcion_5     tipo_descripcion_5   "40px 
            "tipo_precio_5          tipo_precio_5        "auto 
            "tipo_boton_comprar_5   tipo_boton_favorito_5"auto / 
            auto                    66px;
    }
    .prenda_6 {
        display: grid;
        gap: 0px;
        grid-template:
            "tipo_prenda_6          tipo_prenda_6        "230px 
            "tipo_descripcion_6     tipo_descripcion_6   "40px 
            "tipo_precio_6          tipo_precio_6        "auto 
            "tipo_boton_comprar_6   tipo_boton_favorito_6"auto / 
            auto                    66px;
    }
    .footer{
        display: grid;
        gap: 5px;
        padding: 50px 0px 0px 0px;
        grid-template:
            "preguntas_frecuentes      titulo_contacto"   80px
            "preguntas_frecuentes      contacto"   80px
            "terminos_condiciones      acerca_de"  auto
            "copyright                 copyright"  26px /
            50%                        auto;  
    }
    .contacto{
        display: grid;
        gap: 5px;
        justify-content: center;
        grid-template:
            "titulo_contacto    titulo_contacto titulo_contacto titulo_contacto titulo_contacto"auto
            "red_facebook       red_linkedin    red_instagram   red_youtube     red_whtasApp" auto /
            5%                  5%              5%              5%              5%             ;
    }
    .img_cabecera{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img_cabecera:hover{
        transform: scale(0.9);
        opacity: 1;
        box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.8), /* Sombra externa suave */
        -0.5px -0.5px 1.5px rgba(255, 255, 255, 0.8); /* Sombra clara para dar efecto de luz */
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .img_cabecera img{
        width: 120px;
        height: 80px;
    }
    .cuadro_busqueda{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .input_busqueda{
        width: 60%;
        height: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        padding: 1px;
        text-align: left;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content:end;
        flex: 1;
    }
    .input_busqueda:focus{
        outline: none;
    }
    .boton_busqueda{
        width: 30px;
        height: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        padding: 1px;
        text-align: center;
        background-color: rgba(47, 79, 79, 0.3);
        z-index: 1;
    }
    .boton_busqueda img{
        width: 15px;
        height: 15px;
        z-index: -10;
        user-select: none;
    }
    .nombre_usuario{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .nombre_usuario_1,
    .nombre_usuario_2{
        width: 90%;
        height: 30px;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 5px;
    }
    .nombre_usuario_1{
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .carrito_compras{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carrito_1{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .carrito_1 img{
        width: 50px;
        height: 50px;
        opacity: 0.6;
    }
    
    .boton_carrito{
        background-color: transparent;
        width: 100%;
        height: 100%;
        opacity: 1;
        border: none;
    }
    .carrito_compras:hover{
        transform: scale(1.01);
        opacity: 1;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8), /* Sombra externa suave */
        -1px -1px 3px rgba(255, 255, 255, 0.8); /* Sombra clara para dar efecto de luz */
        transition: all 0.1s ease;
        cursor: pointer;
    }
    .div_noticia_1_imagen,
    .div_noticia_2_imagen,
    .div_noticia_3_imagen{
        /*background-color: goldenrod;*/
        width: 40%;
        height: 105px;
        float: left;
    }
    .div_noticia_1_imagen img{
        width: 70%;
        height: 70%;
        margin: 15px;
    }
    .div_noticia_2_imagen img{
        width: 70%;
        height: 70%;
        margin: 15px;
    }
    .div_noticia_3_imagen img{
        width: 60%;
        height: 60%;
        margin: 20px;
    }
    .div_noticia_1_parrafo,
    .div_noticia_2_parrafo,
    .div_noticia_3_parrafo{
        /*background-color: chartreuse;*/
        width: 60%;
        height: 105px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
        font-size: 12px;
        font-weight: 600;
    }
    .filtro_1,
    .filtro_2,
    .filtro_3,
    .filtro_4,
    .filtro_5,
    .filtro_6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: none;
    }
    .boton_filtro_1,
    .boton_filtro_2,
    .boton_filtro_3,
    .boton_filtro_4,
    .boton_filtro_5,
    .boton_filtro_6 {
        background-color: transparent;
        background-color: var(--color_fondo_botones);
        width: 100%;
        height: 65%;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 0px;
        text-align: center;
        z-index: 1;
        user-select: none;
        outline: none;
    }

    .boton_filtro_1:hover,
    .boton_filtro_2:hover,
    .boton_filtro_3:hover,
    .boton_filtro_4:hover,
    .boton_filtro_5:hover,
    .boton_filtro_6:hover{
        transform: scale(1.02);
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), /* Sombra externa suave */
        -2px -2px 5px rgba(255, 255, 255, 0.8); /* Sombra clara para dar efecto de luz */
        transition: all 0.1s ease;
        cursor: pointer;
    }








    .boton_filtro_1 img,
    .boton_filtro_2 img,
    .boton_filtro_3 img,
    .boton_filtro_4 img,
    .boton_filtro_5 img,
    .boton_filtro_6 img {
        width: 100%;
        height: 100%;
        z-index: -10;
        user-select: none;
    }




    
    .tipo_prenda_1,
    .tipo_prenda_2,
    .tipo_prenda_3,
    .tipo_prenda_4,
    .tipo_prenda_5,
    .tipo_prenda_6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .prenda_1:hover, 
    .prenda_2:hover, 
    .prenda_3:hover, 
    .prenda_4:hover, 
    .prenda_5:hover, 
    .prenda_6:hover{
        transform: scale(1.06);
        opacity: 1;
        box-shadow:
        2px 2px 2px 0 #7b7b7b inset,
        -2px -2px 3px 0 #ffffff inset;
    }

    .tipo_prenda_1 img{
        border-radius: 5px;
        width: 70%;
        height: 100%;   
        opacity: 0.8;
    }
    .tipo_prenda_2 img{
        border-radius: 5px;
        width: 70%;
        height: 100%;   
        opacity: 0.8;
    }
    .tipo_prenda_3 img{
        border-radius: 5px;
        width: 70%;
        height: 100%;   
        opacity: 0.8;
    }
    .tipo_prenda_4 img{
        border-radius: 5px;
        width: 70%;
        height: 100%;   
        opacity: 0.8;
    }
    .tipo_prenda_5 img,
    .tipo_prenda_6 img{
        border-radius: 5px;
        width: 70%;
        height: 100%;   
        opacity: 0.8;
    }
    /* .tipo_prenda_2 img{
        border-radius: 5px;
        width: 80%;
        height: 120%;
    } */
    .tipo_descripcion_1,
    .tipo_descripcion_2,
    .tipo_descripcion_3,
    .tipo_descripcion_4,
    .tipo_descripcion_5,
    .tipo_descripcion_6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
    }
    .tipo_boton_favorito_1,
    .tipo_boton_favorito_2,
    .tipo_boton_favorito_3,
    .tipo_boton_favorito_4,
    .tipo_boton_favorito_5,
    .tipo_boton_favorito_6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tipo_boton_favorito_1 img,
    .tipo_boton_favorito_2 img,
    .tipo_boton_favorito_3 img,
    .tipo_boton_favorito_4 img,
    .tipo_boton_favorito_5 img,
    .tipo_boton_favorito_6 img{
        border-radius: 5px;
        width: 40%;
        height: 40%;
        margin: auto;
    }
    .me_gusta_1,
    .me_gusta_2,
    .me_gusta_3,
    .me_gusta_4,
    .me_gusta_5,
    .me_gusta_6{
        width: 30px;
        height: 30px;
        border-radius: 2px;
        padding: 1px;
        text-align: center;
        /* background-color: rgba(47, 79, 79, 0.3); */
        z-index: 1;
    }
    .formulario_registro_contenedor {
        background-color: gold;
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}


